bitstring==3.1.5
django-log-request-id==1.5.0
django-oidc-provider==0.7.0
Django==1.11.29 # pyup: >=1.8,<2.0
Flask==1.1.2
newrelic==2.106.1.88 # pyup: >=2.0.0.0,<3.0.0.0
psycopg2==2.8.5
pytz==2019.3
requests==2.23.0
safety==1.8.7
