black==21.9b0
bokeh==2.4.1
bullet==2.2.0
coverage==6.1
django-axes==5.26.0
django-log-request-id==1.7.0
django-ninja==0.15.0
django-oidc-provider==0.7.0
Django==3.2.8
django-oidc-provider==0.7.0
django-flags==5.0.2
emoji==1.6.1
fastapi==0.70.0
Flask==2.0.2
flake8==4.0.1
freezegun==1.1.0
GitPython==3.1.24
halo==0.0.31
Jinja2==3.0.2
mypy==0.910
pip-tools==6.4.0
plotly==5.3.1
psycopg2==2.9.1
pylint-django==2.4.4
pylint==2.11.1
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-django==4.4.0
pytest-random-order==1.0.4
pytest-socket==0.4.1
pytest==6.2.5
pytz==2021.3
requests==2.26.0
safety==1.10.3
secure==0.3.0
sqlmodel==0.0.4
tabulate==0.8.9
typer==0.3.2
